.search-bar-wrapper {
  border-bottom: 1px solid #3333;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
}
.search-form {
  width: 150px;
  font-size: 14px;
}
.search-form input {
  text-align: center;
  color: #262626;
}
.image-wrapper {
  height: 50px;
}

.logo-image {
  height: 100%;
}

.social-wrapper {
  display: flex;
}

.social {
  width: 50px;
}

.insta-logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta-logo h1 {
  font-size: 0.5rem;
}

.insta-logo img {
  max-width: 50%;
  margin-left: 50px;
}
